<form #f="ngForm" (ngSubmit)="submit(f.value)">

  <div class="form-group">
    <label for="title">Title of your article</label>
    <input
      required
      minlength="3"
      ngModel
      name="title"
      #title="ngModel"
      type="text"
      id="title"
      class="form-control">

    <div *ngIf="title.touched && title.invalid" class="alert alert-danger">

      <div *ngIf="title.errors.required">
        Title field is required
      </div>

      <div *ngIf="title.errors.minlength">
        Name field should be at least {{ title.errors.minlength.requiredLength }} characters.
      </div>

    </div>

  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <select required ngModel name="category" #category="ngModel" id="category" class="form-control">
      <option value=""></option>
      <option *ngFor="let c of categories" [value]="c.name">{{ c.name }}</option>
    </select>

    <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
      Category field is required.
    </div>

  </div>

  <div class="form-group">
    <label for="content">Content of your article</label>
    <textarea
      required
      ngModel
      name="content"
      #content="ngModel"
      id="content"
      cols="30"
      rows="10"
      class="form-control">
    </textarea>
  </div>

  <div class="form-group">
    <label for="firstName">Author's Name</label>
    <input
      required
      minlength="2"
      ngModel
      name="firstName"
      #firstName="ngModel"
      type="text"
      id="firstName"
      class="form-control">

    <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">

      <div *ngIf="firstName.errors.required">
        Author's name field is required
      </div>

      <div *ngIf="firstName.errors.minlength">
        Author's name field should be at least {{ firstName.errors.minlength.requiredLength }} characters.
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Author's Last Name</label>
    <input
      required
      minlength="2"
      ngModel
      name="lastName"
      #lastName="ngModel"
      type="text"
      id="lastName"
      class="form-control">

    <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">

      <div *ngIf="lastName.errors.required">
        Author's last name field is required
      </div>

      <div *ngIf="lastName.errors.minlength">
        Author's last name field should be at least {{ lastName.errors.minlength.requiredLength }} characters.
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="managerName">Manager's Name</label>
    <input
      required
      minlength="2"
      ngModel
      name="managerName"
      #managerName="ngModel"
      type="text"
      id="managerName"
      class="form-control">

    <div *ngIf="managerName.touched && managerName.invalid" class="alert alert-danger">

      <div *ngIf="managerName.errors.required">
        Manager's name field is required
      </div>

      <div *ngIf="managerName.errors.minlength">
        Manager's name field should be at least {{ managerName.errors.minlength.requiredLength }} characters.
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="managerLastName">Manager's Last Name</label>
    <input
      required
      minlength="2"
      ngModel
      name="managerLastName"
      #managerLastName="ngModel"
      type="text"
      id="managerLastName"
      class="form-control">

    <div *ngIf="managerLastName.touched && managerLastName.invalid" class="alert alert-danger">

      <div *ngIf="managerLastName.errors.required">
        Manager's last name field is required
      </div>

      <div *ngIf="managerLastName.errors.minlength">
        Manager's last name field should be at least {{ managerLastName.errors.minlength.requiredLength }} characters.
      </div>

    </div>
  </div>


  <p>{{ f.value | json}}</p>

  <button class="btn btn-primary"[disabled]="f.invalid">Submit</button>
</form>
