<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Text editor</title>
</head>
  <body>

    <!-- Buttons -->
    <input type="button" value="B"/>
    <input type="button" value="I"/>
    <input type="button" value="U"/>
    <br/>

    <!-- Text area -->
    <textarea class="text_edit" id="my_text" [(ngModel)]="writing"></textarea>
    <br/>

    <!-- Submit button -->
    <input type="button" value="Show text"/>

    <!-- Empty div to put the text in -->
    <div id="view_text">
      Wpisywany tekst: <br>
      {{writing}}
    </div>

  </body>
</html>
