quill-editor {
  display: block;
}
.ng-invalid {
  border: 1px dashed red;
}

/* Set default font-family */
[quill-editor-element] {
  font-family: Helvetica, sans-serif;
}

/* Set dropdown font-families */
[quill-editor-toolbar] .ql-font span[data-label="Aref Ruqaa"]::before {
  font-family: "Aref Ruqaa", sans-serif;
}
[quill-editor-toolbar] .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza", sans-serif;
}
[quill-editor-toolbar] .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto", sans-serif;
}

/* Set content font-families */
.ql-font-mirza {
  font-family: "Mirza", sans-serif;
}
.ql-font-aref {
  font-family: "Aref Ruqaa", sans-serif;
}
